.page-container {
  display: flex;
  margin-top: 36px;
  place-content: center;
  gap: 86px;
  width: 100%;
}

.clothes-container {
  display: flex;
  width: 796px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
