.page-container {
  display: flex;
  margin-top: 36px;
  align-items: center;
  gap: 56px;
  width: 100%;
  flex-direction: column;
}

.clothes-container {
  display: flex;
  width: 796px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.button {
  display: inline-flex;
  padding: 8px 24px;
  align-items: center;
  border-radius: 100px;
  margin: 0px;
}

.button:hover {
  cursor: pointer;
  background-color: transparent;
  border-color: #1b263b;
  transition: 0.3s ease-out;
}

.pink {
  background: #ffa6be;
}

.blue {
  background: #a2d2ff;
}
