.carousel-container {
  display: inline-flex;
  align-items: center;
  gap: 28px;
  align-self: stretch;
}

.side-photo {
  width: 180px;
  height: 180px;
  border-radius: 12px;
  background: #1b263b;
  object-fit: cover;
}

.side-photo:hover {
  cursor: pointer;
}

.arrow {
  fill: pink;
}
.arrow:hover {
  cursor: pointer;
  fill: pink;
}

.disabled {
  opacity: 30%;
  cursor: default !important;
}

.transparent {
  opacity: 0%;
  cursor: default !important;
}
