@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.navbar {
  display: grid;
  width: 100%;
  height: 56px;
  row-gap: 358px;
  flex-shrink: 0;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-items: center;

  :first-child {
    justify-self: start;
  }

  :last-child {
    justify-self: end;
  }
}

.title {
  margin-top: 8px;
  display: inline-flex;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;

  h1 {
    color: #1b263b;
    text-align: center;
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 16px;
  }

  a {
    display: inline-flex;
    text-decoration: none;
    gap: 4px;
    align-items: center;
  }
}

.button {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: fit-content;

  color: #1b263b;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-style: solid;
  border-radius: 2px;
  border-color: transparent;
  border-radius: 100px;

  a {
    display: inline-flex;
    text-decoration: none;
    color: #1b263b;
    place-items: center;
    gap: 4px;
  }
}

.button:hover {
  cursor: pointer;
  background-color: transparent;
  border-color: #1b263b;
}

.blue {
  background: #a2d2ff;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.pink {
  background: #ffa6be;
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  margin-right: 24px;

  img {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
}
