@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.navbar {
  display: grid;
  width: 100%;
  height: 56px;
  row-gap: 358px;
  flex-shrink: 0;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-items: center;
  z-index: 2;

  :first-child {
    justify-self: start;
  }

  :last-child {
    justify-self: end;
  }
}

.navbar .right {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

.title {
  margin-top: 8px;
  display: inline-flex;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;

  h1 {
    color: #1b263b;
    text-align: center;
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 16px;
  }

  a {
    display: inline-flex;
    text-decoration: none;
    gap: 4px;
    align-items: center;
  }
}

.button {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: fit-content;

  color: #1b263b;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-style: solid;
  border-color: transparent;
  border-radius: 100px;

  a {
    display: inline-flex;
    text-decoration: none;
    color: #1b263b;
    place-items: center;
    gap: 4px;
  }
}

.button:hover {
  cursor: pointer;
  background-color: transparent;
  border-color: #1b263b;
  transition: 0.3s ease-in-out;
}

.blue {
  background: #a2d2ff;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.pink {
  background: #ffa6be;
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  margin-right: 24px;
}

.plus {
  width: 18px;
  height: 18px;
}

.txt-btn {
  color: #1b263b;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  margin-right: 24px;

  a {
    display: inline-flex;
    text-decoration: none;
    color: #1b263b;
    place-items: center;
    gap: 4px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.active {
  font-weight: 800;
}

.dropdown {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  padding-bottom: 4px;

  .button {
    width: 208px;
    padding: 12px 0;
  }

  img {
    justify-self: flex-start;
  }

  .menu {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    border-radius: 12px;
    background: #a2d2ff;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-item {
    color: #1b263b;
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 100%;
    padding: 4px 0;
  }
  .menu-item:hover {
    cursor: pointer;
    font-weight: 600;
  }
}
